<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>dadanddot.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>GKGameCenterBundleID</key>
	<string>com.dadanddot.SumOrDoneGame</string>
	<key>GKGameCenterAchievements</key>
	<array>
		<dict>
			<key>GKAchievementID</key>
			<string>com.dadanddot.SumOrDoneGame.achievement</string>
			<key>GKAchievementReferenceID</key>
			<string>10pts Earned</string>
		</dict>
		<dict>
			<key>GKAchievementID</key>
			<string>com.dadanddot.SumOrDoneGame.achievement.1000pts</string>
			<key>GKAchievementReferenceID</key>
			<string>1000pts Earned</string>
		</dict>
	</array>
</dict>
</plist>
